<header class="site-header custom-site-header" role="banner">
  <div>
    <a class="site-title site-logo" rel="author" href="{{ '/' | relative_url }}"><img src="/assets/images/rose_logo.png" alt="logo"></a>
  </div>
  <a class="site-title custom-site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>

  <div>
    <div>
      <ul class=social-nav-icons>
        <li><a href="https://www.twitter.com/{{ site.github_username }}"><img class="github-nav-icon" src="/assets/images/social_icons/GitHub-Mark-64px.png"></a></li>
        <li><a href="https://www.twitter.com/{{ site.twitter_username }}"><img class="twitter-nav-icon" src="/assets/images/social_icons/Twitter_Social_Icon_Square_White.png"></a></li>
      </ul>
    </div>
  </div>
</header>
