<div class="splash-header" role="banner">
  <picture>
    <source
      srcset="{{ 'assets/images/c4pdx-group/c_scale,w_150.jpg' | absolute_url }} 150w,
              {{ 'assets/images/c4pdx-group/c_scale,w_544.jpg' | absolute_url }} 544w"
      media="(max-width: 800px)">
    <source
      srcset="{{ 'assets/images/c4pdx-group-banner/c_scale,w_800.jpg' | absolute_url }} 800w,
              {{ 'assets/images/c4pdx-group-banner/c_scale,w_1891.jpg' | absolute_url }} 1891w,
              {{ 'assets/images/c4pdx-group-banner/c_scale,w_2632.jpg' | absolute_url }} 2632w,
              {{ 'assets/images/c4pdx-group-banner/c_scale,w_3330.jpg' | absolute_url }} 3330w,
              {{ 'assets/images/c4pdx-group-banner/c_scale,w_3840.jpg' | absolute_url }} 3840w"
      media="(min-width: 801px)">
    <img
      src="{{ 'assets/images/c4pdx-group-banner/c_scale,w_800.jpg' | absolute_url }}"
      alt="Code4PDX group image">
  </picture>
</div>
