---
# Only the main Sass file needs front matter (the dashes are enough)
---

// $content-width: 100%;
@import 'minima';
// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');

$primary-color: #1ef7e2eb;
$secondary-color: #272932;
$tertiary-color: #ececec;

@import 'header';
@import 'footer';
@import 'products';
@import 'about';
@import 'partner_with_us';
@import 'volunteer';
@import 'support';
@import 'partners_sponsors';

/* override minima wrapper to fill section backgrounds */
.wrapper {
  padding: 0px;
  max-width: 100%;
}

body {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.custom-page-content {
  flex: 1 0 auto;
}

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #c0c0c0;
  padding-right: 5px;
  vertical-align: text-top;
}

/* body */

.home section h2 {
  text-align: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.section-header {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

/* alternate section background colors */
section:nth-of-type(odd) {
  background-color: $tertiary-color;
  button {
    font-size: 24px;
    color: white;
    background-color: $secondary-color;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}

section:nth-of-type(even) {
  color: white;
  background-color: $secondary-color;
  button {
    font-size: 24px;
    background-color: $primary-color;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 310px 310px;
  grid-auto-rows: 145px;
  justify-content: center;
  gap: 35px 35px;
  padding: 10px;
}

.align-image-360 {
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
  }
}

a:hover {
  text-decoration: none;
}

.shady-box-shadow {
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.16);
}

.role {
  font-size: 2vw;
}

/* Donate Button */

.donate-button {
  display: none;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  background-color: $secondary-color;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 3px 0 5px rgba(57, 63, 72, 0.3);
}

.donate-button button:hover {
  opacity: 0.9;
}

.donate-button button {
  background-color: $primary-color;
  z-index: 2;
  border-radius: 15px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 10px 0;
  cursor: pointer;
  width: 150px;
  height: 50px;
  a {
    text-decoration: none;
    color: $secondary-color;
  }
}

@media (max-width: 960px) {
  .home section h2 {
    font-size: 20px;
  }
  .grid-container {
    grid-auto-rows: 100px;
    justify-content: center;
    gap: 15px 0px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .donate-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 549px) {
  .home section h2 {
    text-align: center;
  }
}
