---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$primary-color: #1ef7e2eb;
$secondary-color: #2C2E3A;

body {
  color: #000;
}

.center-text {
  text-align: center;
}

/* Header */

header {
  padding-left:10px;
  padding-right: 10px
}

.sticky-nav-header {
  position: sticky;
  top: 0px;
  background: $secondary-color;
  z-index: 10;
}

.splash-header {
  border-top: 5px solid $secondary-color;
  border-bottom: 1px solid #1e1e1e;;
  min-height: 55.95px;
  position: relative;
  background: $secondary-color;
}

/* social icons in nav bar */

.social-nav-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 3px;
  right: 0;
  li {
    display: inline-block;
  };
  img {
    margin: 5px;
    height: 40px;
    width: 40px
  }
}

/* Logo and title layout */

.site-logo {
    position: absolute;
    left: 20px;
    top: 3px;
}

.custom-site-title {
  font-size: 26px;
  line-height: 56px;
  text-decoration: none;
  color: $primary-color;
}

.custom-site-title, .custom-site-title:visited {
  color: $primary-color;
}

/* body */

.home section h2 {
  text-align: center;
  padding-top: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 210px 210px;
  grid-auto-rows: 100px;
  justify-content: center;
  gap: 35px 35px;
  padding: 10px;
}

.align-image-360 {
   position: relative;
   img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
   }
}

.shady-box-shadow {
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.13);
}

/* Footer */

.custom-site-footer {
  background: $secondary-color;
  border-top: 1px solid black;
  padding: 30px 0;

  a {
    color: $primary-color;
  }
}

.custom-footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  color: $primary-color;
}

@media (max-width: 549px) {
  .github-nav-icon, .twitter-nav-icon {
    visibility: hidden;
    height: 0px;
    width: 0px
  }

  .social-nav-icons {
    top: 12.5px;
    img {
      margin: 3px;
      height: 24px;
      width: 24px;
    }
  }

  .site-logo {
    position: absolute;
    left: 10px;
    height: 60px;
    width: 94px;
  }

  .custom-site-title {
    line-height: 50px;
    text-decoration: none;
    color: $primary-color;
  }
}

@media (max-width: 475px) {
  .grid-container {
    grid-template-columns: 210px;
    justify-content: center;
    gap: 15px 0px;
    padding: 10px;
  }
}
