section#about {
  .about {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      order: 2;
      float: right;
      padding: 15px 0px;
      width: 40%;
    }
    div {
      align-items: center;
      width: 50%;
      margin-top: 30px;
    }
    h1 {
      font-size: 55px;
      font-weight: 600;
    }
    h4 {
      font-size: 20px;
      font-weight: 500;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      padding-bottom: 3rem;
    }
  }

  @media (max-width: 960px) {
    .about {
      align-items: center;
      width: 90%;
      display: flex;
      flex-direction: column;
      img {
        order: 0;
        display: block;
        // margin-top: -200px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
      div {
        width: 100%;
        text-align: center;
      }
      h1 {
        font-size: 36px;
      }
      h4 {
        font-size: 14px;
      }
    }
  }
}
