/* Product Section */
.products {
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;
}
#products h2 {
  font-weight: 600;
}
#products h3 {
  text-align: center;
  font-weight: 700;
}

#products h3 a {
  color: black;
  text-decoration: underline;
}

#products a{
  color: black;
  text-decoration: none;
}

#products .status {
  font-weight: 700;
}

.products-container {
  overflow: hidden;
  margin: 0 auto;
  width: 1030px;
}

#products {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.products-list {
  width: 3000px;
  position: relative;
  transition: left 1s ease;
  left: 0;
}

.products-li {
  background-color: #c1eeea;
  width: 290px;
  height: 344px;
  float: left;
  margin: 15px 20px;
  padding: 15px 7px;
  display: flex;
  flex-direction: column;
}

.product-img-wrapper {
  text-align: center;
  margin-bottom: auto;
}
#products p {
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 30px;
}
.product-wrap {
  flex-direction: column;
}

.product-wrap:not(:first-child) {
  margin-top: auto;
}
.right-arrow {
  position: absolute;
  top: 50%;
  left: 89%;
  z-index: 20;
}

.left-arrow {
  position: absolute;
  top: 50%;
  z-index: 20;
}

@media (max-width: 1400px) {
  .left-arrow {
    left: 100px;
  }
  .right-arrow{
    left: 91%;
  }
  
}
/* 1275px breakpoint */

@media (max-width: 1275px) {
  .products-container {
    width: 693px;
  }
  .left-arrow{
    left: unset;
  }
}

@media (max-width: 960px) {
  .products {
    width: 90%;
  }
  .right-arrow {
    left: 93%;
  }
  .products-container {
    width: 344px;
  }
}

@media (max-width: 660px) {
  .products-container {
    width: 340px;
  }
  .right-arrow {
    left: 92%;
  }

  .products-li {
    background-color: #c1eeea;
    width: 290px;
    height: 344px;
    float: left;
    margin-right: 20px;
    padding: 15px 7px;
  }
}

@media (max-width: 450px) {
  .products-container {
    width: 268px;
  }
  #products p {
    font-size: 12px;
    margin-left: 20px;
  }
  #products h3 {
    font-size: 16px;
  }
  .products-li {
    background-color: #c1eeea;
    width: 217px;
    height: 258px;
    float: left;
    margin-right: 20px;
    padding: 15px 7px;
  }
  .right-arrow {
    left: 90%;
  }
}
@media (max-width: 360px) {
  .products-container {
    width: 245px;
  }

  #products p {
    font-size: 12px;
    margin-left: 10px;
  }

  #products h3 {
    font-size: 16px;
  }

  .products-li {
    background-color: #c1eeea;
    width: 195px;
    height: 232px;
    float: left;
    margin-right: 20px;
    padding: 15px 7px;
  }

  .left-arrow {
    top: 55%;
  }

  .right-arrow {
    left: 91%;
    top: 55%;
  }
}
