/* Product Section */
.products{
  width: 80%;
  margin: auto;
  padding-bottom: 3rem;
}
#products h3 {
  text-align: center;
  font-weight: 600;
}

#products h3 a {
  color: black;
  text-decoration: underline;
}

.status {
  font-weight: 600;
}

.products-container {
  overflow: hidden;
  margin: 0 auto;
  width: 982px;
}

#products {
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.products-list {
  width: 3000px;
  position: relative;
  transition: left 1s ease;
  left: 0;
}

.products-li {
  background-color: #C1EEEA;
  width: 290px;
  height: 344px;
  float: left;
  margin-right: 35px;
  padding: 15px 7px;
  display: flex;
  flex-direction: column;

}

.product-img-wrapper {
  text-align: center;
  margin-bottom: auto;
}
#products p{
  margin-bottom: 20px;
  margin-left: 30px;
}
.product-wrap{
  flex-direction: column;
}

.product-wrap:not(:first-child){
  margin-top: auto;
}
.right-arrow {
  position: absolute;
  top: 60%;
  left: 89%;
  z-index: 10;
}

.left-arrow {
  position: absolute;
  top: 60%;
  z-index: 10;
}

/* 1275px breakpoint */

@media(max-width: 1275px) {
  .products-container {
    width: 643px;
  }
}

@media(max-width: 950px) {
  .products-container {
    width: 304px;
  }
}

@media(max-width: 660px) {
  .products-container {
    width: 304px;
  }
.right-arrow{
  left: 88%;
}

  .products-li {
    background-color: #C1EEEA;
    width: 290px;
    height: 344px;
    float: left;
    margin-right: 35px;
    padding: 15px 7px;
  }
}

@media(max-width: 450px){
  .products-container{
    width: 228px;
  }
  #products p{
    font-size: 12px;
  }
  #products h3{
    font-size: 16px;
  }
    .products-li {
      background-color: #C1EEEA;
      width: 217px;
      height: 258px;
      float: left;
      margin-right: 35px;
      padding: 15px 7px;
    }
    .left-arrow{
      top: 55%;
    }
    .right-arrow{
      left: 84%;
      top: 55%;
    }
}
@media(max-width: 360px){
    .products-container {
      width: 209px;
    }
    
    #products p {
      font-size: 12px;
    }
    
    #products h3 {
      font-size: 16px;
    }
    
    .products-li {
      background-color: #C1EEEA;
      width: 195px;
      height: 232px;
      float: left;
      margin-right: 35px;
      padding: 15px 7px;
    }
    
    .left-arrow {
      top: 55%;
    }
    
    .right-arrow {
      left: 84%;
      top: 55%;
    }
}
