section#support_us {
    .support_us {
        margin: auto;
        width: 80%;
        display: flex;
        align-items: center;

        .content {
            width: 50%;
        }

        h1 {
            font-size: 30px;
            font-weight: 500;
        }

        h2 {
            text-align: left !important;
            margin-bottom: 0 !important;
        }

        p {
            font-size: 24px;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        .donate {
            width: 70%;
            height: 50px;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        .support {
            margin: auto 40% auto auto;
            width: 50%;
            display: block;
        }
        .hidden-mobile {
            display: none;
        }
    }

    @media (max-width: 960px) {
        .support_us {
            margin: auto;
            text-align: center;
            width: 90%;
            display: block;

            .content {
                width: 100%;
            }
            h1 {
                text-align: center;
                font-size: 24px;
            }
            h2 {
                text-align: center !important;
                margin-bottom: 0px;
            }
            p {
                text-align: left;
            }
            .hidden-mobile {
                margin: auto;
                display: block;
                padding: 20px 0px;
                width: 50%;
            }
            .support {
                display: none;
            }
            .donate {
                width: 30%;
            }
        }
    }

    @media (max-width: 549px) {
        .support_us {
            .donate {
                width: 40%;
            }
            p {
                font-size: 16px;
            }
        }
    }
}
