section#volunteer_with_us {
  .volunteer {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    ul {
      grid-template-columns: 15% 15% 15% 15%;
    }
    h1 {
      margin-bottom: 60px;
      font-size: 60px;
      font-weight: 600;
    }
    h2 {
      font-weight: 500;
    }
    p {
      margin-top: 30px;
      font-weight: 600;
    }
    .gather {
      margin-top: 40px;
      width: 50%;
    }
    .join {
      padding-bottom: 3rem;
    }
    button {
      width: 50%;
      height: 40px;
      font-size: 120%;
      margin-top: 50px;
      margin-bottom: 50px;
      cursor: pointer;
    }
  }

  @media (max-width: 960px) {
    .volunteer {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      text-align: center;
      ul {
        grid-template-columns: 40% 40%;
        grid-template-rows: 25% 25% 25% 25%;
      }
      h1 {
        margin-bottom: 60px;
        font-size: 35px;
      }
      img {
        height: 30%;
      }
      p {
        margin-top: 30px;
      }
      .gather {
        margin-top: 40px;
        width: 90%;
      }
      .join {
        padding-bottom: 3rem;
      }
      button {
        width: 80%;
        height: 40px;
        font-size: 120%;
        margin-top: 50px;
        margin-bottom: 30px;
      }
    }
  }
}
