---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <section id="about">
    <h2>Who We Are</h2>
    {{ content }}

    <br />
  </section>

  <section id="products">
    <h2>Our Products</h2>
    <ul class="post-list">
      {% for product in site.products %}
        <li>
          <h3>
            <a href="{{ product.url | absolute_url }}">{{ product.name }}</a>
          </h3>
          <div>
            <h4>Problem</h4>
            <p>{{ product.problem }}</p>
            <h4>Proposal</h4>
            <p>{{ product.proposal }}</p>
            <p>Current Status: {{ product.status }}</p>
          </div>
          {% unless product == site.products.last %}
            <br>
            {{ "---" | markdownify }}
          {% endunless %}

        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="partners">
    <h2>Our Partners</h2>
    <ul class="grid-container post-list">
      {% for partner in site.partners %}
        <a class="align-image-360 shady-box-shadow" href="{{ partner.link }}" target="_blank">
          <li>
            <img src="{{ partner.logo | absolute_url }}" alt="{{ partner.name }}">
          </li>
        </a>
      {% endfor %}
    </ul>
  </section>

  <section id="sponsors">
    <h2>Our Sponsors</h2>
    <ul class="grid-container post-list">
      {% for sponsor in site.sponsors %}
        <a class="align-image-360 shady-box-shadow" href="{{ sponsor.link }}" target="_blank">
          <li>
            <img src="{{ sponsor.logo | absolute_url }}" alt="{{ sponsor.name }}">
          </li>
        </a>
      {% endfor %}
    </ul>
  </section>

  <section id="team">
    <h2>Our Team</h2>
    <ol class="grid-container post-list">
      {% for person in site.team %}
        <div class="align-image-360 shady-box-shadow">
          <li>
            <h3>{{ person.name }}</h3>
            <p>{{ person.role }}</br>
               <a href="mailto:{{ person.email }}">{{ person.email }}</a>
            </p>
          </li>
        </div>
        <div class="align-image-360 shady-box-shadow">
          <li>
            <img src="{{ person.image | absolute_url }}">
          </li>
        </div>
      {% endfor %}
    </ol>
  </section>
</div>
