---
layout: default
---
  <style type='text/css'>
    #splash-image-container { /*position:absolute; */top:57px; left:0; height: max-height; background-color: #414141;}
    #splash-image {
      /*position:relative;*/
      -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));

    }

  </style>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}


  <div>

  <h2 style="text-align: center">Who We Are</h2>
  {{ content }}

  <br />
  <h2 style="text-align: center" class="post-list-heading">Projects</h2>
  <ul class="post-list">
    <!-- {% assign last_project_list_item = site.projects.last %} -->
    {% for project in site.projects %}
    <li>
      <a href="{{ project.url | absolute_url }}">
        <h3>{{ project.name }}</h3>
      </a>
      <div>
        <h4>Problem</h4>
        <p>{{ project.problem }}</p>
        <h4>Proposal</h4>
        <p>{{ project.proposal }}</p>
        <p>Current Status: {{ project.status }}</p>
      </div>
      {% unless project == site.projects.last %}
        <br>
        {{ "---" | markdownify }}
      {% endunless %}

    </li>
    {% endfor %}
  </ul>
  </div>
</div>
